/*Amsi Cazares, 12/5/258?
/* background of the page and the font  */
body {
    font-family: "Roboto Condensed", Arial, sans-serif;
    background-color: #111111;      
    color: #ffffff;                 
    text-align: center;             
    padding: 1em;
}


#wrapper {
    max-width: 80%;
    margin: 0 auto;                 
}

/* wanted the headings pink and centered */
h1, h2, h3 {
    color: #ffb6c1;                 
    margin: 0.75em 0;
}

/*all my writing is centered but starts on the left */
   
p, ul, ol {
    max-width: 100%;
    margin: 0.5em auto;
    text-align: left;
    line-height: 1.6;
}

/* wanted my link text pink  */
nav a {
	background-color: black;
    padding: 0.4em 0.9em;
    text-decoration: none;
    font-weight: bold;
    color: #ffb6c1;         
   
}


/*when hovered it is dark gray */
nav a:hover {
    background-color: #222222;
    color: #ffb6c1;
}


main a {
    color: #ffb6c1;
}

/*my images are linked to fit the page */
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1em auto;
    border-radius: 0.4em;   /* small rounding (~6px) */
}

/*my form is centered but again starts from the left */
form {
    max-width: 90%;
    margin: 1em auto 2em auto;
    padding: 1em;
    text-align: left;                      
}


input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 0.4em;
    margin-bottom: 0.7em;
    border-radius: 0.3em;
    border: 1px solid #555555;
    background-color: #1b1b1b;
    color: #ffffff;
}

/* Footer spacing */
footer {
    margin-top: 2em;
    font-size: 0.85em;
    opacity: 0.8;
}
